a,
a:hover {
  color: #666e65;
}

/* Back to top button */
.back-to-top {
  background: #666e65;
  color: #fff;
}

.back-to-top:focus {
  background: #666;
  color: #fff;
}

.back-to-top:hover {
  background: #666;
  color: #fff;
}

.navbar-default {
  background: #666e65;
}

.form-control:focus {
  border-color: #666;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px #666e65;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px #666e65;
}

.service .carousel-indicators .active {
  background: #666;
}

.btn-theme {
  background: #666e65;
}

.contact-widget i {
  color: #666e65;
}
